<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading">ユーザー/組織</div>
      <ul class="list-group">
        <li class="list-group-item"><%= link_to "yhirano55", "#" %></li>
        <li class="list-group-item"><%= link_to "yhirano55", "#" %></li>
        <li class="list-group-item"><%= link_to "yhirano55", "#" %></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading">リポジトリの選択</div>
      <div class="panel-body">
        <small>CIを有効にするリポジトリを選択してください。</small>
      </div>
      <ul class="list-group">
        <% 10.times.each do %>
        <!--有効化-->
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-10">
              yhirano55/active_admin
            </div>
            <div class="col-sm-2">
              <%= link_to "#", class: "btn btn-success-outlined btn-xs btn-block" do %>
                <i class="fa fa-link"></i> <small>有効にする</small>
              <% end %>
            </div>
          </div>
        </li>
        <!--無効化-->
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-10">
              <%= link_to "yhirano55/active_admin", "#" %>
            </div>
            <div class="col-sm-2">
              <%= link_to "#", class: "btn btn-danger-outlined btn-xs btn-block" do %>
                <i class="fa fa-unlink"></i> <small>無効にする</small>
              <% end %>
            </div>
          </div>
        </li>
        <!--設定不可-->
        <li class="list-group-item">
          <div class="row">
            <div class="col-sm-10">
              yhirano55/active_admin
            </div>
            <div class="col-sm-2">
              <div class="text-center">
                <small><i class="fa fa-lock"></i> 管理できません</small>
              </div>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination pagination-sm">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<% content_for :primary_action do %>
  <%= link_to "#", class: "btn btn-black btn-sm btn-block" do %>
    <i class="fa fa-refresh"></i>
    <small>リポジトリを最新の状態に更新</small>
  <% end %>
<% end %>
