<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>プロジェクト</strong></div>
      <ul class="list-group">
        <li class="list-group-item">
          <%= link_to "#", class: "btn-setting quiet", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit" do %><i class="fa fa-edit"></i><% end %>
          API Server
        </li>
        <li class="list-group-item">
          <%= link_to "#", class: "btn-setting quiet", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit" do %><i class="fa fa-edit"></i><% end %>
          Admin Server
        </li>
        <li class="list-group-item">
          <%= link_to "#", class: "btn-setting quiet", "data-toggle" => "tooltip", "data-placement" => "top", title: "Edit" do %><i class="fa fa-edit"></i><% end %>
          Purchase Server
        </li>
      </ul>
      <div class="panel-body">
        <%= link_to new_project_path, class: "btn btn-primary-outlined btn-sm btn-block" do %>
          <i class="fa fa-plus-square"></i> <small>プロジェクトを追加</small>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">
      <div class="panel-heading"><strong>タスク</strong></div>
      <ul class="list-group">
        <% 3.times.each do %>
        <!--有効-->
        <li class="list-group-item">
          <div class="row build">
            <div class="col-sm-2">
              <p>
                <span class="btn btn-black btn-xs btn-block">
                  <i class="fa fa-clock-o"></i> <small>定期実行</small>
                </span>
                <span class="btn btn-success btn-xs btn-block">
                  <i class="fa fa-check"></i> <small>有効</small>
                </span>
                <%= link_to build_path(1), class: "btn btn-default btn-xs btn-block" do %>
                  <i class="fa fa-unlink"></i> <small>無効にする</small>
                <% end %>
              </p>
            </div>
            <div class="col-sm-10">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row">ストラテジー</th>
                    <td>Rubocop</td>
                  </tr>
                  <tr>
                    <th scope="row">プロジェクト</th>
                    <td>API Server</td>
                  </tr>
                  <tr>
                    <th scope="row">定期実行スケジュール</th>
                    <td>0 0 * * SUN</td>
                  </tr>
                  <tr>
                    <th scope="row">結果を通知</th>
                    <td>false</td>
                  </tr>
                  <tr>
                    <th scope="row">チェックアウトするベースブランチ</th>
                    <td>master</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
        <!--無効-->
        <li class="list-group-item">
          <div class="row build">
            <div class="col-sm-2">
              <p>
                <span class="btn btn-black btn-xs btn-block">
                  <i class="fa fa-bolt"></i> <small>プルリクエスト</small>
                </span>
                <span class="btn btn-gray btn-xs btn-block">
                  <small>無効</small>
                </span>
                <%= link_to build_path(1), class: "btn btn-success-outlined btn-xs btn-block" do %>
                  <i class="fa fa-link"></i> <small>有効にする</small>
                <% end %>
                <%= link_to build_path(1), class: "btn btn-default btn-xs btn-block" do %>
                  <i class="fa fa-edit"></i> <small>編集する</small>
                <% end %>
              </p>
            </div>
            <div class="col-sm-10">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row">ストラテジー</th>
                    <td>Rubocop</td>
                  </tr>
                  <tr>
                    <th scope="row">プロジェクト</th>
                    <td>API Server</td>
                  </tr>
                  <tr>
                    <th scope="row">定期実行スケジュール</th>
                    <td>0 0 * * SUN</td>
                  </tr>
                  <tr>
                    <th scope="row">結果を通知</th>
                    <td>false</td>
                  </tr>
                  <tr>
                    <th scope="row">チェックアウトするベースブランチ</th>
                    <td>master</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </li>
        <% end %>
      </ul>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination pagination-sm">
        <li>
          <a href="#" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li>
          <a href="#" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<% content_for(:primary_action) do %>
  <%= link_to new_task_path, class: "btn btn-primary-outlined btn-sm btn-block" do %>
    <i class="fa fa-plus-square"></i>
    <small>タスクを追加</small>
  <% end %>
<% end %>
