<!DOCTYPE html>
<html>
  <head>
    <title>Rails51Sample</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/solarized-dark.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </head>
  <body>
    <% if controller_name == "sessions" %>
      <div class="wrapper" id="login">
        <div class="container-fluid">
          <%= yield %>
          <div class="alert alert-warning">
            <strong>Oh snap!</strong> Change a few things up and try submitting again.
          </div>
        </div>
      </div>
    <% else %>
      <div class="wrapper">
        <main>
          <!--共通要素-->
          <div class="main-header">
            <div class="row">
              <div class="col-md-9">
                <ol class="breadcrumb">
                  <li><a href="#">Dashboard</a></li>
                  <li><a href="#">user</a></li>
                  <li><a href="#">name</a></li>
                  <li><a href="#">project</a></li>
                  <li class="active"><strong>build 787</strong></li>
                </ol>
              </div>
              <% if content_for?(:primary_action) %>
                <div class="col-md-3">
                  <div class="primary-action">
                    <%= yield(:primary_action) %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <div class="main-content">
            <div class="container-fluid">
              <!--共通要素-->
              <div class="alert alert-danger" role="alert">
                <strong>Oh snap!</strong> Change a few things up and try submitting again.
              </div>
              <%= yield %>
            </div>
          </div>
          <div class="main-footer">
            <p>
              <strong>APP Name</strong>
              on
              <%= Rails.env %>
              at
              <%= l(Time.current, format: :default) %>
            </p>
          </div>
        </main>
        <aside>
          <ul class="gnav">
            <li class="active"><%= link_to root_path, class: "btn btn-lg", "data-toggle" => "tooltip", "data-placement" => "right", title: "Dashboard" do %><i class="fa fa-tachometer"></i><% end %></li>
            <li><%= link_to repos_path, class: "btn btn-lg", "data-toggle" => "tooltip", "data-placement" => "right", title: "Repos" do %><i class="fa fa-plus-square"></i><% end %></li>
            <li><%= link_to users_path, class: "btn btn-lg", "data-toggle" => "tooltip", "data-placement" => "right", title: "Members" do %><i class="fa fa-user-circle"></i><% end %></li>
            <li><%= link_to sessions_path, class: "btn btn-lg", "data-toggle" => "tooltip", "data-placement" => "right", title: "Logout" do %><i class="fa fa-power-off"></i><% end %></li>
          </ul>
        </aside>
      </div>
    <% end %>
    <script>$('.title').fitText()</script>
  </body>
</html>
